<h1>Registration</h1>

<form name="registration" data-ng-submit="submit()" class="pure-form" style="padding: 5px;">
	<label>email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="email" data-ng-model="email" type="email" data-ng-trim="true" required>
	</label>
	<br><br>
	<label>password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="password" data-ng-model="password" type="password"
	                        data-ng-minlength="8"
	                         required></label>
	<br><br>
	<label>confirm pass:&nbsp; <input name="pwdConfirmation" data-ng-model="pwdConfirmation"
	                                        type="password"
	                                        data-ng-minlength="8" required></label>
	<br><br>

	<label>telephone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="telephone" data-ng-model="telephone" type="tel"
	                         data-ng-trim="true"></label>
	<br><br>
		<input class="pure-button pure-button-success" type="submit" data-ng-disabled="registration.$invalid" value="registration">

	<span data-ng-show="error">It happened some error, please try again</span>
</form>